<div class="row">
  <div class="col-4">
    <div id="Grade" class="text-center">
      <h2>Grade</h2>
      <button [routerLink]="['/gradeadd']" class="btn btn-success m-3 d-block mx-auto w-100">Add</button>
    </div>
  </div>
  <div class="col-4">
    <div id="Mark" class="text-center">
      <h2>Mark</h2>
      <button [routerLink]="['/markadd']" class="btn btn-success m-3 d-block mx-auto w-100">Add</button>
    </div>
  </div>
  <div class="col-4">
    <div id="Mark" class="text-center">
      <h2>Approve</h2>
      <button [routerLink]="['/approveadd']" class="btn btn-success m-3 d-block mx-auto w-100">Add</button>
      <button [routerLink]="['/approvedelete']" class="btn btn-danger m-3 d-block mx-auto w-100">Delete</button>
    </div>
  </div>
</div>