<div class="row">
  <div class="col-8"> 
    <div class="mt-3">
      <h2>Add Lesson</h2>
    </div>

    <div class="mt-3">
      <form class="form-data" (submit)="getLessonID()">
        <div class="mt-3 mb-3">
          <label class="h4">Name</label>
          <select class="form-control" [(ngModel)]="lesson" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let itemLesson of lessonsView; let i = index" value="{{itemLesson}}">{{itemLesson}}</option>
          </select>
        </div>

        <div class="mt-3 mb-3">
          <label class="h4">Day</label>
          <select class="form-control" [(ngModel)]="day" [ngModelOptions]="{standalone: true}">
            <option value="1">Monday</option>
            <option value="2">Thursday</option>
            <option value="3">Wednesday</option>
            <option value="4">Thursday</option>
            <option value="5">Friday</option>
          </select>
        </div>

        <div class="mt-3 mb-3">
          <label class="h4">Hour</label>
          <select class="form-control" [(ngModel)]="hour" [ngModelOptions]="{standalone: true}">
            <option value="1" [selected]="true">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
          </select>
        </div>

        <div class="mt-3 mb-3">
          <h4>Teacher</h4>
          <select class="form-control" [(ngModel)]="teacher" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let teacher of teachers" value="{{teacher.teacherID}}">{{teacher.firstName + ' ' + teacher.lastName}}</option>
          </select>
        </div>

        <div class="mt-3 mb-3">
          <label class="h4">Class</label>
          <select class="form-control" name="class" [(ngModel)]="class" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let in of [0,1,2,3,4,5,6,7,8,9]; let i = index" value="{{i+1}}">{{i+1}}</option>
          </select>
        </div>

        <button type="submit" class="btn btn-success">
          Add
        </button>
        
        <button type="button" class="btn btn-primary mr-3 ml-3" (click)="getPlan()">
          Get plan
        </button>

        <button type="button" class="btn btn-primary" [routerLink]="['/admin']">
          Back
        </button>
      </form>
    </div>
  </div>
  <div class="col-4">
    <div id="lessons" class="mt-3">
      <table class="table" *ngFor="let lesson of lessons; let i=index" [hidden]="plan != lesson[0].day">
        <tr>
          <th>Hour</th>
          <th>{{mapDays(lesson[0].day)}}</th>
          <th>Teacher</th>
        </tr>
        <tr *ngFor="let item of lesson; let i=index">
          <td>{{item.hour}}</td>
          <td>{{item.lesson}}</td>
          <td>{{item.teacher}}</td>
        </tr>
      </table>
  
      <div class="text-center" [hidden]="lessons.length === 0">
        <button class="btn btn-danger m-3" (click)="changePlan(-1)">
          Decearse
        </button>
  
        <button class="btn btn-success m-3" (click)="changePlan(1)">
          Incearse 
        </button>
      </div>
    </div>
  </div>
</div>