<div class="row">
  <div class="col-4">
    <div class="text-center">
      <h1>Lessons</h1>
    </div>
    <table class="table" *ngFor="let lesson of lessons; let i=index" [hidden]="plan != lesson[0].day">
      <tr>
        <th>ID</th>
        <th>{{mapDays(lesson[0].day)}}</th>
      </tr>
      <tr *ngFor="let item of lesson; let i=index">
        <td>{{i+1}}</td>
        <td>{{item.name}}</td>
      </tr>
    </table>

    <div class="text-center">
      <button class="btn btn-danger m-3" (click)="changePlan(-1)">
        Decearse
      </button>

      <button class="btn btn-success m-3" (click)="changePlan(1)">
        Incearse 
      </button>
    </div>
  </div>
  <div class="col-4">
    <div class="text-center">
      <h1>Grades</h1>
    </div>

    <table class="table">
      <tr>
        <th>ID</th>
        <th>Lesson</th>
        <th>Grade</th>
        <th>Grade Weight</th>
      </tr>
      <tr *ngFor="let grade of grades; let i=index">
        <td>{{i+1}}</td>
        <td>{{grade.lessonName}}</td>
        <td>{{grade.gradeValue}}</td>
        <td>{{grade.gradeWeight}}</td>
      </tr>
    </table>
  </div>
  <div class="col-4">
    <div class="text-center">
      <h1>Marks</h1>
    </div>

    <table class="table">
      <tr>
        <th>ID</th>
        <th>Lesson</th>
        <th>Present</th>
        <th>Date</th>
      </tr>
      <tr *ngFor="let mark of marks; let i=index" [hidden]="present != mark.present">
        <td>{{i+1}}</td>
        <td>{{mark.lessonName}}</td>
        <td>{{mark.present}}</td>
        <td>{{mark.data}}</td>
      </tr>
    </table>

    <div class="text-center">
      <button class="btn btn-success m-3" (click)="filterMarks(true)">
        Present 
      </button>
      
      <button class="btn btn-danger m-3" (click)="filterMarks(false)">
        Absent
      </button>
    </div>
  </div>
</div>