<div class="row">
  <div class="col-4">
    <div class="text-center">
      <h1>Lessons</h1>
    </div>
    <table class="table border rounded" *ngFor="let lesson of lessons; let i=index" [hidden]="plan != lesson[0].day">
      <tr>
        <th>Hour</th>
        <th>{{mapDays(lesson[0].day)}}</th>
        <th>Teacher</th>
      </tr>
      <tr *ngFor="let item of lesson; let i=index">
        <td>{{i+1}}</td>
        <td>{{item.lesson}}</td>
        <td>{{item.teacher}}</td>
      </tr>
    </table>

    <div class="text-center">
      <button class="btn btn-danger m-3" (click)="changePlan(-1)">
        Decearse
      </button>

      <button class="btn btn-success m-3" (click)="changePlan(1)">
        Incearse 
      </button>
    </div>
  </div>
  <div class="col-4">
    <div class="text-center">
      <h1>Grades</h1>
    </div>

    <table class="table border rounded" *ngIf="grades.length != 0; else gradeElse">
      <tr>
        <th>ID</th>
        <th>Lesson</th>
        <th>Grade</th>
        <th>Grade Weight</th>
      </tr>
      <tr *ngFor="let grade of grades; let i=index">
        <td>{{i+1}}</td>
        <td>{{grade.lessonName}}</td>
        <td>{{grade.gradeValue}}</td>
        <td>{{grade.gradeWeight}}</td>
      </tr>
    </table>
    <ng-template #gradeElse>
      <table class="table border rounded">
        <tr>
          <th>ID</th>
          <th>Lesson</th>
          <th>Grade</th>
          <th>Grade Weight</th>
        </tr>
        <tr>
          <td>1</td>
          <td>No grades</td>
          <td>0</td>
          <td>0</td>
        </tr>
      </table>
    </ng-template>
  </div>
  <div class="col-4">
    <div id="MarkPanel">
      <div class="text-center">
        <h1>Marks</h1>
      </div>
  
      <table class="table border rounded" *ngIf="marks.length != 0; else markElse">
        <tr>
          <th>ID</th>
          <th>Lesson</th>
          <th>Present</th>
          <th>Date</th>
        </tr>
        <tr *ngFor="let mark of marks; let i=index" [hidden]="present != mark.present">
          <td>{{i+1}}</td>
          <td>{{mark.lessonName}}</td>
          <td>{{mark.present}}</td>
          <td>{{mark.data | date:'yyyy-MM-dd' }}</td>
        </tr>
      </table>

      <ng-template #markElse>
        <table class="table border rounded">
          <tr>
            <th>ID</th>
            <th>Lesson</th>
            <th>Present</th>
            <th>Date</th>
          </tr>
          <tr>
            <td>1</td>
            <td>No marks</td>
            <td>true</td>
            <td>00-00-0000</td>
          </tr>
        </table>
      </ng-template>
      
  
      <div class="text-center">
        <button class="btn btn-success m-3" (click)="filterMarks(true)">
          Present 
        </button>
        
        <button class="btn btn-danger m-3" (click)="filterMarks(false)">
          Absent
        </button>
      </div>
    </div>

    <div id="ApprovePanel">
      <table class="table border rounded" *ngIf="approves.length != 0; else approveElse">
        <tr>
          <th>ID</th>
          <th>Lesson</th>
          <th>Present</th>
          <th>Description</th>
        </tr>
        <tr *ngFor="let approve of approves; let i=index">
          <td>{{i+1}}</td>
          <td>{{approve.lessonName}}</td>
          <td>{{approve.positive}}</td>
          <td>{{approve.description}}</td>
        </tr>
      </table>

      <ng-template #approveElse>
        <table class="table border rounded">
          <tr>
            <th>ID</th>
            <th>Lesson</th>
            <th>Present</th>
            <th>Description</th>
          </tr>
          <tr>
            <td>1</td>
            <td>No approves</td>
            <td>true</td>
            <td>Empty</td>
          </tr>
        </table>
      </ng-template>
    </div>
  </div>
</div>

<div class="row mb-5">
  <div class="col mb-5">
    <div class="text-center">
      <h1>Parent</h1>
    </div>
    <table class="table border rounded text-center" *ngIf="parents.length != 0; else parentElse">
      <tr>
        <th>Parent</th>
        <th>Email</th>
        <th>Phone</th>
      </tr>
      <tr *ngFor="let parent of parents">
        <td>{{parent.firstName + " " + parent.lastName}}</td>
        <td>{{parent.email}}</td>
        <td>{{parent.phone}}</td>
      </tr>
    </table>
    <ng-template #parentElse>
      <table class="table border rounded text-center">
        <tr>
          <th>Parent</th>
          <th>Email</th>
          <th>Phone</th>
        </tr>
        <tr>
          <td>No parents 😥</td>
          <td>Empty</td>
          <td>Empty</td>
        </tr>
      </table>
    </ng-template>
  </div>
</div>