<div class="row">
  <div class="col-4">
    <table class="table" *ngFor="let lesson of lessons; let i=index" [hidden]="plan != lesson[0].day">
      <tr>
        <th>ID</th>
        <th>{{mapDays(lesson[0].day)}}</th>
      </tr>
      <tr *ngFor="let item of lesson; let i=index">
        <td>{{i+1}}</td>
        <td>{{item.name}}</td>
      </tr>
    </table>

    <div>
      <button class="btn btn-danger" (click)="changePlan(-1)">
        Decearse
      </button>

      <button class="btn btn-success" (click)="changePlan(1)">
        Incearse 
      </button>
    </div>
  </div>
  <div class="col-4">

  </div>
  <div class="col-4">

  </div>
</div>