<div class="row">
  <div class="col-4">
    <div id="Lesson" class="text-center">
        <h2>Lesson</h2>
        <button [routerLink]="['/lessonadd']" class="btn btn-success m-3 d-block mx-auto w-100">Add</button>
        <button [routerLink]="['/lessonchange']" class="btn btn-warning m-3 d-block mx-auto w-100">Change</button>
        <button [routerLink]="['/lessondelete']" class="btn btn-danger m-3 d-block mx-auto w-100">Delete</button>
    </div>
  </div>
  <div class="col-4">
    <div id="Grade" class="text-center">
      <h2>Grade</h2>
      <button [routerLink]="['/gradeadd']" class="btn btn-success m-3 d-block mx-auto w-100">Add</button>
      <!-- <button [routerLink]="['/gradechange']" class="btn btn-warning m-3 d-block mx-auto w-100">Change</button>
      <button [routerLink]="['/gradedelete']" class="btn btn-danger m-3 d-block mx-auto w-100">Delete</button> -->
    </div>
  </div>
  <div class="col-4">
    <div id="Mark" class="text-center">
      <h2>Mark</h2>
      <button [routerLink]="['/markadd']" class="btn btn-success m-3 d-block mx-auto w-100">Add</button>
      <button [routerLink]="['/markchange']" class="btn btn-warning m-3 d-block mx-auto w-100">Change</button>
      <!-- <button class="btn btn-danger m-3 d-block mx-auto w-100">Delete</button> -->
    </div>

    <div id="Mark" class="text-center">
      <h2>Approve</h2>
      <button [routerLink]="['/approveadd']" class="btn btn-success m-3 d-block mx-auto w-100">Add</button>
      <!-- <button class="btn btn-warning m-3 d-block mx-auto w-100">Change</button> -->
      <button [routerLink]="['/approvedelete']" class="btn btn-danger m-3 d-block mx-auto w-100">Delete</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <div id="Class" class="text-center">
      <h2>Class</h2>
      <button [routerLink]="['/classadd']" class="btn btn-success m-3 d-block mx-auto w-100">Assign user to class</button>
      <button [routerLink]="['/classchange']" class="btn btn-warning m-3 d-block mx-auto w-100">Change Assign user to class</button>
    </div>
  </div>
  <div class="col-4">
    <div id="Class" class="text-center">
      <h2>Role</h2>
      <button [routerLink]="['/roleadd']" class="btn btn-success m-3 d-block mx-auto w-100">Assign role</button>
      <button [routerLink]="['/roledelete']" class="btn btn-danger m-3 d-block mx-auto w-100">Remove role</button>
    </div>
  </div>
  <div class="col-4">
    <div id="Class" class="text-center">
      <h2>Parent</h2>
      <button [routerLink]="['/parentadd']" class="btn btn-success m-3 d-block mx-auto w-100">Assign parent</button>
      <button [routerLink]="['/parentdelete']" class="btn btn-danger m-3 d-block mx-auto w-100">Remove parent</button>
    </div>
  </div>
</div>