<div class="row">
  <div class="col">
    <div id="fn_parent" class="mt-3">
      <label class="h4">Parent first name</label>
      <input class="form-control" type="text" [(ngModel)]="FirstName">
    </div>

    <div id="ln_parent" class="mt-3">
      <label class="h4">Parent last name</label>
      <input class="form-control" type="text" [(ngModel)]="LastName">
    </div>

    <div id="email_parent" class="mt-3">
      <label class="h4">Parent email</label>
      <input class="form-control" type="text" [(ngModel)]="Email">
    </div>

    <div id="phone_parent" class="mt-3">
      <label class="h4">Parent phone number</label>
      <input class="form-control" type="text" [(ngModel)]="Phone">
    </div>

    <div id="students" class="mt-3">
      <label class="h4">Parent student</label>
      <select class="form-control" name="student" [(ngModel)]="Student">
        <option *ngFor="let item of students; let i = index" value="{{item.userUUID}}">{{item.firstName + " " + item.lastName}}</option>
      </select>
    </div>

    <button class="btn btn-success mt-3" (click)="assignParent()">
      Add parent
    </button>
  </div>
</div>